.container {
  display: grid;
  
  grid-template-columns:150px 300px 200px;

  background-color: bisque;


}

.child {
  background-color: rebeccapurple;
  color: whitesmoke;
  padding: 1rem;
  border: 1px solid black;
}

.item2{
 grid-row-start: 3;
 grid-row-end:4 ;
 grid-column-start:3 ;
 grid-column-end: 4;
}
.item9{
 grid-row-start: 1;
 grid-row-end:2 ;
 grid-column-start:2 ;
 grid-column-end: 3;
}